node_modules/
public/css/*
!public/css/.gitkeep
public/js/*
!public/js/.gitkeep
public/images/generated/*
!public/images/generated/.gitkeep
public/fonts/
dist/*
api/reports/coverage/**/*
!api/reports/coverage/.gitkeep
browser/reports/coverage/**/*
!browser/reports/coverage/.gitkeep
ssr/reports/coverage/**/*
!ssr/reports/coverage/.gitkeep
.DS_Store
.env
logs/*
!logs/.gitkeep
