/local/*
!/local/.gitkeep
node_modules/
/public/css/*
!/public/css/.gitkeep
/public/js/*
!/public/js/.gitkeep
/public/images/generated/*
!/public/images/generated/.gitkeep
/public/fonts/
/dist/*
!/dist/locales/
/dist/logs/*
!/dist/logs/.gitkeep
reports/*
!reports/.gitkeep
/bundle-size-report.html
